<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main></main>
    <footer>
        <% data.forEach(el=>{ %>
         <form action="/digmons" method="POST">
        <h1><%= el.name %></h1>
        <input type="hidden" name="name" value="<%= el.name %>">
        <img src="<%= el.img %>" alt="">
        <input type="hidden" name="img" value="<%= el.img %>">
        <p><%= el.level %></p>
        <input type="hidden" name="level" value="<%= el.level %>">
            <button type="submit">save to database</button>
        </form>
        <%  }) %>

    </footer>
</body>
</html>